credentials:
  openstack: #The user must have the role ResellerAdmin
    keystone_uri: "http://identity.usr.lab0.aub.cloudwatt.net:35357" #Admin endpoint without version
    swift_conso_tenant: "openstack"
    swift_conso_user: "admin"
    swift_conso_password: "yoloswag"
    swift_conso_domain: "default"
    os_region_name: "lab0"
  rabbit:
    host: "d-msqcld-0000.usr.lab0.aub.cloudwatt.net:5672"
    userid: "ceilometer"
    password: "yoloswag"
    vhost: "openstack"
    exchange: "ceilometer"
    routing_key: "metering"
concurrency: 500
log_level: "info"
