credentials:
  openstack: #The user must have the role ResellerAdmin
    keystone_uri: "http://identity.usr.int5.aub.cloudwatt.net:35357" #Admin endpoint without version
    swift_conso_tenant: "service"
    swift_conso_user: "swift-consometer"
    swift_conso_password: "yoloswag"
    swift_conso_domain: "default"
  rabbit:
    host: "d-msqcld-0000.usr.int5.aub.cloudwatt.net:5672"
    userid: "swift-consometer"
    password: "yoloswag"
    vhost: "openstack"
    exchange: "swift-consometer"
    routing_key: "metering"
    queue: "swift-consometer"
regions:
  - "int5"
  - "int"
concurrency: 5
log_level: "info"
